body
	background: #243237
	font: "Arial" "Tahoma" "Gabriola" "Swiss721BT" "Lucida Console"
	width: 100%
$color2: rgba(0, 170, 238, 0.3)
$color3:  rgba(56, 60, 56, 0.5)
.redcolor
	color: #e05e58
.colorGrey
	color: #696969
.whitecolor
	color: white
.fontApex
	font-family: 'Adelle Sans Thi'
.fontGardens
	font-family: 'Gardens CM Regular'
.fontArial
	font-family: 'Arial'
.fonttextSegoeScript
	font-family: "Segoe Script"
.fontTahoma
	font-family: "Tahoma"
.fontSans
	font-family: "Microsoft Sans Serif"
.fontLucida
	font-family: 'Lucida Console'
.fontGabriola
	font-family: 'Gabriola'
.size14px
	font-size: 0.875em
.size18px
	font-size: 18px
.size20px
	font-size: 1.25em
.size21px
	font-size: 1.3em
.size22px
	font-size: 1.4em
.size24px
	font-size: 1.5em
.size26px
	font-size: 1.6em
.size29px
	font-size: 1.8em
.size32px
	font-size: 2em
.size35px
	font-size: 2.2em
.size45px
	font-size: 2.75em
.size48px
	font-size: 3.3em
.container-fluid
	width: 100%
	@media screen and (max-width: 992px)
	padding: 0
.content-block1
	background: url(../images/dest/contentFon1.jpg) no-repeat
	height: 817px
.content-block1__slogan
	background-color: $color2
	letter-spacing: 10px
.wrap-content-block1
	padding-top: 340px
	@media screen and (max-width: 992px)
	padding-top: 100px
.content-block2
	padding: 50px 0 50px 0
.content-block2__title
	padding: 10px
.content-block2__content
	line-height: 30px
.content-block3
	background: url(../images/dest/contentFon3.jpg)
	height: 817px
.wrap-content-block3
	padding-top: 260px
.content-block3__text
	background-color: $color3
	padding: 20px
.content-block3__quote
	line-height: 30px
.content-block3__author
	font-size: 29px
.content-block4
	background: url(../images/dest/contentFon4.jpg) no-repeat
	height: 817px

